<div id="pageOrder" data-role="page" ng-controller="orderCtrl">
  <div data-role="header">
    <a href="#" data-rel="back">返回</a>
    <h1>订单</h1>
    <a href = "#" data-role="button" class="ui-btn-right" data-icon="user" ng-show="logSuccess">用户:{{uname}}</a>
  </div>
  <div class="ui-content">
    <form ng-show="mystatus == 'fail'">
      <label for="uname" class="ui-hidden-accessible">联系人:</label>
      <input name="uname" id="uname" placeholder="联系人" type="text" ng-model="name">
      <label for="sex" class="ui-hidden-accessible">性别:</label>
      <select name="sex" id="sex" data-role="slider" ng-model="sex">
        <option value="male">男</option>
        <option value="female">女</option>
      </select>
      <label for="utel" class="ui-hidden-accessible">联系电话:</label>
      <input name="utel" id="utel" placeholder="联系电话" type="text" ng-model="tel">
      <label for="addr" class="ui-hidden-accessible">送餐地址:</label>
      <textarea name="addr" id="addr" placeholder="送餐地址" ng-model="addr"></textarea>
      <a href="#" ng-click="yes()" data-role="button">确认下单</a>
    </form>
    <div ng-show="mystatus == 'ok'">
      您编号为:{{oid}}的订单已下单成功，请到个人订单页查看。。。
    </div>
  </div>
  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="main.html" data-icon="grid">菜品详情</a></li>
        <li><a href="myorder.html" data-icon="user">我的订单</a></li>
      </ul>
    </div>
  </div>
</div>